body {
    background-color: lightpink;
    font-family: "Courier New", monospace;
    color: black;
    text-align: center;
}

h1 {
    color: black;
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.4;
    margin: 10px auto 25px;
    max-width: 900px;
}

p {